{% block before_header %}

{% load i18n leaflet_tags %}

{% load static %}

{% endblock %}
{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style media="screen">
      html, body, #container /*, and all other map parent selectors*/ {
        height: 100%;
        overflow: hidden;
        width: 100%;
      }

      #map {
        width: auto;
        height: 100%;
      }

      .more-padding {
        right: 49.5 !important;
        bottom: 150 !important;
      }

      #map{ z-index:2; }
      #modal{ z-index:3; }
      .index {
        z-index:1;
      }
    </style>
  {% leaflet_js %}
  {% leaflet_css %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.Default.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function mapInit(map, options) {
        options = {
          layers: L.tileLayer('https://tiles.wmflabs.org/hikebike/{z}/{x}/{y}.png', { maxZoom: 17, attribution: '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>' }),
        };
        var markersLayer = new L.LayerGroup();
	markersLayer.addTo(map);
	    {% for location in locations %}
	    var latlng = L.latLng({{ location.y }}, {{ location.x }});
        locationMarker  = L.marker(latlng);
        markersLayer.addLayer(locationMarker);
	    {% endfor %}
    }
  </script>
{% endblock %}

{% block content %}
    {% leaflet_map "map" callback="mapInit" %}
{% endblock %}
